  #head{
  	margin-left: 220px;
  }
  body{
  	 background-color: #f2f2f2;
  }
  h1{
  	background-image: url("homepage.jpeg");
  	background-position: left top;
    background-size: 200px 200px;
    height: 200px;
    background-repeat: no-repeat;
    color: #16a085;
  }
      
       #image{
       	left:650px;
       	position: fixed;
       	top: 300px;
        bottom: 0px;
       }
       #nav a{
       	text-decoration: none;
       	background-color: rgb(18,67,133);
       	color: white;
       	padding: 14px 25px;
       	display: inline-block;
       	font-weight: bold;
       }
       ul{
       	list-style-type: none;
       }
       li{
       	display: inline;
       }
       #nav{
       	background-color: rgb(18,67,133);

       }
       #nav a:hover{
       	background-color: black;
       }
       #dept{
       	padding: 14px 25px;
       	font-weight: bold;
       	color: white;
       	margin-left: 140px;
       }
       #roorkee a{
       	color: black;
       	text-decoration: none;
       	font-weight: bold;
       }
       #roorkee td{
       	border-top-right-radius: 5px;
       	border-bottom-right-radius: 5px;
       	border:1px solid black;
       }
       #roorkee tr:nth-child(even){
        background-color:rgba(192,192,19,0.3);
       }
       #roorkee tr:nth-child(odd){
        background-color:rgba(192,192,19,0.2);
       }
       #roorkee a{
       	padding-top: 14px;
       	padding-bottom: 14px;
       	display: block;
       }
       #roorkee a:hover{
       	background-color: white;
       }
       